{% load static %}
<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © doxer.com 2021 Developed By <a href="https://maquinistas.in/" target="_blank">maquinistas.in</a></span>
    </div>
  </footer>
  <!-- partial -->
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script>
  $('.log-out-btn').on('click',function(){
    console.log('pass');
  });
</script>
<script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'vendors/moment/moment.min.js' %}"></script>
<script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'vendors/chartist/chartist.min.js' %}"></script>
<script src="{% static 'vendors/select2/select2.min.js' %}"></script>
<script src="{% static 'vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/misc.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/typeahead.js' %}"></script>
<script src="{% static 'js/select2.js' %}"></script>
<!-- End custom js for this page -->
